.category{
    width: 250px;
    height: 100%;
    /* border: 2px solid rebeccapurple; */
    position: absolute;
    left: 0;
    top: 0;
    background: #f6f9fc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 25px 30px;

}
.category h1{ 
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-left: 5px;
}
.category ul{ 
    list-style: none;

}
.category li{ 
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    font-weight: 200;
    cursor: pointer;

}
.category li:hover{ 
    opacity: 0.5;
}
.category li:visited{ 
    opacity: 0.5;
}
.category li:active{ 
    opacity: 0.5;
}
.category .laptop ,.category .tablet{ 
    opacity: 0.5;
}
.category li .cat_icon{ 
    width: 20%;
    margin-right: 5px;
    font-weight: 200;
    opacity: 0.8;
}

